<div class="col-sm-3 item" *ngFor="let item of similars; let i = index">
  <div class="inner-item">
    <div class="item-photo">
      <img src="{{item.photos[0].url}}" alt="">
    </div>
    <div class="inner-content">
      <a href="" class="title">{{item.title}}</a>
      <div class="row types">
        <div class="col-sm-6">TYP</div>
        <div class="col-sm-6">STORLEK</div>
      </div>
      <div class="row">
        <div class="col-sm-6">{{item.main_category}}</div>
        <div class="col-sm-6">{{item.habitable}} m2</div>
      </div>
    </div>
  </div>
</div>