<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Popular Searches</h4>
                <ul>
                    <li>Lorem.</li>
                    <li>Deleniti.</li>
                    <li>Magnam.</li>
                    <li>Exercitationem!</li>
                    <li>Provident?</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Popular By Emirate</h4>
                <ul>
                    <li>Lorem.</li>
                    <li>Odit!</li>
                    <li>Quos.</li>
                    <li>Unde.</li>
                    <li>Sapiente.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Popular Areas</h4>
                <ul>
                    <li>Lorem.</li>
                    <li>Enim.</li>
                    <li>Enim.</li>
                    <li>Beatae?</li>
                    <li>Exercitationem.</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <p>
        <span class="copy_rights">
            Copyright @ 2017 Alpha Bravo Consulting - all rights reserved;
        </span>
    </p>
</div>
